h1, #top-link,h3, h4, .down {
    text-align: center;
}
h3 {
    color: #8a2be2;
}
.bg {
    background-color:#FE9A00;
}
#bground {
    background-color:#FE8A00;
}
.steps {
    background-color: #FE8A00;
}
.texth {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif;
}